# String

1) Take in a string with the notebook widgets and print its length.

2) Take in a string with the notebook widgets and count the number of characters (character frequency) in a string.

3) Get a string made of the first 2 and the last 2 chars from "azzeccagarbugli".

In [2]:
# Use as input
input = 'azzeccagarbugli'

4) Take in a string and an integer with the notebook widgets and remove the character from the string at the position of the integer.

5) Remove the spaces from an input string (take it in from the notebook widgets).

6) Count the occurrences of each word.

In [6]:
# Use as input
input = "The Bible (from Koine Greek τὰ βιβλία, tà biblía, 'the books') is a collection of religious texts, writings, or scriptures sacred in Judaism, Samaritanism, Christianity, Islam, Rastafari, and many other faiths. It appears in the form of an anthology, a compilation of texts of a variety of forms that are all linked by the belief that they are collectively revelations of God. These texts include theologically-focused historical accounts, hymns, prayers, proverbs, parables, didactic letters, admonitions, essays, poetry, and prophecies. Believers also generally consider the Bible to be a product of divine inspiration."
print(input)

The Bible (from Koine Greek τὰ βιβλία, tà biblía, 'the books') is a collection of religious texts, writings, or scriptures sacred in Judaism, Samaritanism, Christianity, Islam, Rastafari, and many other faiths. It appears in the form of an anthology, a compilation of texts of a variety of forms that are all linked by the belief that they are collectively revelations of God. These texts include theologically-focused historical accounts, hymns, prayers, proverbs, parables, didactic letters, admonitions, essays, poetry, and prophecies. Believers also generally consider the Bible to be a product of divine inspiration.

7) Given a comma separated sequence of words as input, print the unique words in sorted form (alphanumerically).

In [9]:
# Use as input
input = 'Year,Make,Model,Description,Price \n 1997,Ford,E350,"ac, abs, moon",3000.00 \n 1999,Chevy,"Venture ""Extended Edition""","",4900.00 \n 1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00\n1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.00 \n'
print(input)

Year,Make,Model,Description,Price
 1997,Ford,E350,"ac, abs, moon",3000.00
 1999,Chevy,"Venture ""Extended Edition""","",4900.00
 1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00
1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.00

8) Take in a string and lowercase the first 1/3 of the characters.

9) Convert a given heterogeneous list of scalars into a string.

In [14]:
# Use as input
input = ['Red', 100, -50, 'green', "w,3,r", 12.12, False]

10) Extract numbers from a given string.

In [13]:
# Use as input
input = 'The year is 1945 and the 20 of September he gains 12.34 euro'

---
# Tuples

1) Unpack this tuple `(1, 2.45, 'dude', 17)` in separate variables.

In [15]:
input = 1, 2.45, 'dude', 17

2) Find a way to add `'possible'` to the previous tuple.

3) Get the 4th element from the begining and ending of this tuple: `(1, 2, 3, 4, 5)`.

4) Find and print the repeated items in this tuple: `('a', 'b', 'a', 'c', 'd', 'c')`.

5) Find and print the items that have a single occurence in this tuple: `('a', 'b', 'a', 'c', 'd', 'c')`.

6) Take in a tuple and a character from the notebook widgets and check whether the character exists within the tuple.

7) Take in a tuple from the notebook widgets and reverse it.

8) Remove the empty tuples from a list of tuples. Use:
`[(), (1, 2,), (1,), (), (9, 2), (None,)]`.

9) Calculate the average value of the numbers in: `(2.4, 3, 23.6, 3, 3, 10)`.

10)

----
# Lists

1) Sum all the numbers in this list: `[1, 2, 3, 4, 5.89]`.

2) Take in a list of number from the widgets and get the largest one.

3) Take in two lists from the widgets and returns True if they have at least one common member.

4) Generate a list of lists of lists with shape (3, 4, 6), each item must be a `*`.

5) Generate all permutations of `[1, 2, 3, 4]`.

6) Take in two lists from the widgets amd find the set intersection and set difference between them.

7) Convert a list of characters into a string. Use `['a', 'c', 'i', 'd']`.

8) Select the prime numbers from: `[13, 25, 7, 296587, 332, 1]` and make a new list.

9) Take in two lists from the notebook widgets and iterate simultaneously over them by printing the pairs.

10)

----
# Dictionaries

1) Sort (ascending and descending) the following dictionary by value and print in output two lists containing the sorted keys.

In [16]:
input = {12.45: 'acc', 2: 'zecc', 453235.67: 'reds', 12: 'rred'}

2) Iterate over the previous dictionary using a for loop and make a tuple of the keys and a tuple of the values.

3) Find a way to merge two dictionaries.

In [17]:
input1 = {'a': 12, 'b': 34, 'c': 23}
input2 = {'d': 'e', 'f': 'g'}

4) Remove all the repeated occurences of the values from a dictionary (keep only the first occurence).

In [23]:
input = {'c': 12, 'cc': 12, 'h': 34, 'c1': 12, 'e': 343, ' ': 3445, 'p': 54, 'a': 56, 'p5': 12, 'll': 0, 'lj': 0, 'a*': 54, 'a!': 511}
input

{'c': 12,
 'cc': 12,
 'h': 34,
 'c1': 12,
 'e': 343,
 ' ': 3445,
 'p': 54,
 'a': 54,
 'p5': 12,
 'll': 0,
 'lj': 0,
 'a!': 511}

5) Get the maximum and minimum value in a dictionary.

In [19]:
input = {'a': 13, 'b': -12, 'r': 463, 'rrr': -45}

6) Store the given dictionary in a json file (what is a JSON file?).

In [25]:
input = {
    'id': 12, 
    'a': ['que', 'se', 'me'], 
    'a2': 65, 
    'c1': ('fr', 'usa'), 
    'c6?': {'d': 2, 'd': 543, 'd': 345, 'd': 435, 'd': 543, 'f': 12, 'f': 13, 'f': 17}
}
input

{'id': 12,
 'a': ['que', 'se', 'me'],
 'a2': 65,
 'c1': ('fr', 'usa'),
 'c6?': {'d': 543, 'f': 17}}

7) Create a dictionary from a list of key-value pairs by grouping values with the same key into a list (e.g. `[(a, 1), (a, 3), (b, 2)] –> {a: [1, 3], b: [2]})`.

In [28]:
input = [('c', 12), ('c', 12), ('h', 34), ('c1', 12), ('e', 343), (' ', 3445), ('p', 54), ('h', 56), ('p', 12), ('ll', 0), ('ll', 0), ('a', 54), ('c', 511)]
input

[('c', 12),
 ('c', 12),
 ('h', 34),
 ('c1', 12),
 ('e', 343),
 (' ', 3445),
 ('p', 54),
 ('h', 56),
 ('p', 12),
 ('ll', 0),
 ('ll', 0),
 ('a', 54),
 ('c', 511)]

8)

9)

10)

----
# Conditional statements and loops

1) Take in an integer number and compute the prime factorization.

In [30]:
# factors = 3 x 5 x 7 x 571 x 757
input = 45385935

2) Display the Fibonacci series up to 50 terms.

3) Print the following pattern:

```
*
* $ 
* * * 
* $ * ! 
* * * * * 
* ! * $ 
* * * 
* ! 
*
```

4) Take in a password from the widgets and check the validity. Validation:

- At least 1 letter between [a-z] and 1 letter between [A-Z].
- At least 1 number between [0-9].
- At least 1 character from ```[$#@]```.
- Minimum length 6 characters.
- Maximum length 16 characters.

5) Given a list L and a number N, make a new list with the same length of L, where the value at index i is True if L[i] is greater than N, and False otherwise. Use the following list and take the number N from the widgets.

In [31]:
input = [12, 45, 56.3, 553, 43.034, 43, 12, 1111, 236, 152]

6) Use a nested list comprehension to find which numbers from 1-1000 are divisible by the digits in (2, 3, 4, ..., 9). Make a dictionary where keys are the digits and values are lists of numbers divisible by that keys.

7)

8)

9)

10)

-----
# Functions and Classes

1) Look at the code below that defines the class Individual. Now add code to interact with the Individual class to perform the following tasks:

- Create instances of the class Individual. Name the instances individual1, individual2 and individual3. During object instantiation, set the character_name of these three new objects to “Buster”, “Tobias” and “Lucille” respectively.
- What happens if you pass these three newly created objects to the print function?
- Check whether Buster is happy. Get him to speak.
- Call Buster’s switch_mood method. Is he still happy? What does he say now?
- Add docstring to describe what each method does.

In [33]:
class Individual:
    Counter = 0
    
    @classmethod
    def AddOne(self):
        self.Counter += 1
    
    def __init__(self, character_name): 
        self.character_name = character_name 
        self.happy = True
        self.AddOne()
        self.id = self.Counter
        
    def __str__(self):
        return f'Instance: {self.id} {self.character_name}'
    
    def get_character_name(self): 
        return self.character_name
    
    def is_happy(self): 
        return self.happy
    
    def switch_mood(self): 
        self.happy = not self.happy
        
    def speak(self): 
        if(self.happy):
            return f'Hello, I am {self.character_name}' 
        else:
            return 'Go away!'

2) Write a class to get all possible unique subsets from a set of distinct integers.

In [32]:
# output =  [[], [6], [5], [5, 6], [4], [4, 6], [4, 5], [4, 5, 6]]
input = [4, 5, 6]

3) Write a function that takes a string of words and reverses the string word by word.

4) Write a class named Circle that is constructed by a radius and has three methods. The first method computes the area, the second the perimeter and the last method draws a circle with the radius rounded to the upper integer.

5) Write a class that stores a list and can be iterated with a for loop like a standard list (hint: ```__iter__, __next__```).

6) What is a function generator in Python? Learn it and make a function that **yields** the prime numbers up to 100. Use a for loop to print them.

7)

8)

9)

10)